mercurial
Django
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
-e svn+http://django-oembed.googlecode.com/svn/trunk/#egg=oembed
-e git+http://github.com/robhudson/django-debug-toolbar.git#egg=debug
docutils
textile
PIL