/*
	Forms ~ CSS

*/

@import "interactions";
@import "rounded-corners";

/* =General
----------------------------------------------------------------------------*/
form {
    margin:0 0 1.5em;
    
    form fieldset {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    form legend {
        clear: both;
        margin: 0;
        padding: 0;
    }

    label {
        display: block;
        margin-bottom:0.5em;
        color:#737373;
        font-size:0.75em;
    }

    form input[type="checkbox"] {
        vertical-align: middle;
    }

    input[type="text"], input[type="password"], input[type="file"], input[name="search"], textarea, select {
        background-color: #f7f7f7;
        border-top: 1px solid #bbbbbb;
        border-left: 1px solid #bbbbbb;
        border-bottom: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        margin: 0 0 1.25em;
        padding: 0.25em;
        line-height: 1.5em;
        font-size:1em;
        border-radius: 0.3125em;
        transition-property: "background-color";
        -webkit-transition-property: "background-color";
        -moz-transition-property: "background-color";
        -o-transition-property: "background-color";
        transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        -webkit-box-shadow: inset 0px 1px 3px 1px #d9d9d9;
        -moz-box-shadow: inset 0px 1px 3px 1px #d9d9d9;
        box-shadow: inset 0px 1px 3px 1px #d9d9d9;
    }
    
    input[type="text"], input[type="password"], input[type="file"] {
        width:40%;
    }
    
    textarea {
        width:98%;
        height:10em;
        overflow:auto;
    }

    input[disabled], input[readonly] {
        cursor: not-allowed;
    }

    input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
        outline:none;
        background-color:#fff;
    }

    input[type="radio"] {
        vertical-align: text-middle;
    }

    input[type="checkbox"] {
        vertical-align: bottom;
        *vertical-align: baseline;
    }
    
    a.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
        @include button(0.3125em);
    }
    
    .form_block {
        position:relative;
    }
    
    .error {
        @include error;
        @include full_round(0.3125); /* needs responsive touch */
    }
}