/*
	Layout ~ CSS
*/

@import "interactions";
@import "rounded-corners";

/* =FOR DEV
----------------------------------------------------------------------------*/
#dev-nav {
    background:#efefef;
    padding:1%;
    
    ul {
        list-style:none;
        padding:0;
        margin:0;
        
        li {
            display:inline;
            margin-right:1%;
            width:auto;
            padding:0.5% 1%;
            background:#ccc;
            font-size:.75em;
            
            @include full_round(0.25em);
            
            &:hover {
                background:#ddd;
            }
        }
    }
}

.debug #grid_proof {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    div {
        width:10%;
        float:left;
        height:100%;
    }
    
    div:nth-child(odd) {
        background:rgba(0,0,0,0.2);
    }
    
}


/* =Mixins
----------------------------------------------------------------------------*/

/* =General
----------------------------------------------------------------------------*/
body {
    background: #fff;
}

footer {
    width:80%;
    padding:0 10% 3em;
}

#global_nav {
    width:80%;
    padding:0.5em 10%;
	text-align:right;
	font-size:0.75em;
}

img {
    width:100%;
}

/* =Header
----------------------------------------------------------------------------*/

/* =Interactions & Nav
----------------------------------------------------------------------------*/

.bttn {
    @include button(0.3125em);
}

a {
    @include link;
    
    &:visited {
        @include visited;
    }
    
    &:hover {
        @include hover;
    }
    
    &:active {
        @include active;
    }
    
}

/* =Content
----------------------------------------------------------------------------*/
#content {
	width:60%;
    padding:3em 10%;
	margin:3em 10%;
	background: #fafafa; /* Old browsers */
    background: -moz-linear-gradient(top, #fafafa 33%, #f2f2f2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#fafafa), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fafafa 33%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fafafa 33%,#f2f2f2 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fafafa 33%,#f2f2f2 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fafafa 33%,#f2f2f2 100%); /* W3C */
    -webkit-box-shadow: 0px 1px 3px 1px #dbdbdb;
    -moz-box-shadow: 0px 1px 3px 1px #dbdbdb;
    box-shadow: 0px 1px 3px 1px #dbdbdb;
    background-clip:border-box;
    border:5px solid #fff;
}

/* =Aside
----------------------------------------------------------------------------*/
   
/* =Footer
----------------------------------------------------------------------------*/

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

/*
	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix {
	zoom: 1;
}

/* Media Queries
================================================== */

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
