<!doctype html>

<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="author" content="Dave Merwin">
	
	<style type="text/css" media="screen">
	   fieldset {border:none;}
	   label{display:block;}
	   .comment_meta {
	       font-size:0.75em;
	   }
	</style>
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" media="screen" title="no title">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" media="screen" title="no title">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/typography.css" type="text/css" media="screen" title="no title">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css" type="text/css" media="screen" title="no title">
	
	<script src="{{ STATIC_URL }}jwplayer/swfobject.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body>
    
        <div id="global_nav">
            {% if user.is_authenticated %}
                <a href="/accounts/logout/">Logout</a>
            {% else %}
                <a href="/accounts/login/">Login</a>
            {% endif %}
        </div>
    
        <div id="content">
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <p>
                <a href="/">Home</a>
                {% if object.parent.all %}
                    &nbsp;Go to:&nbsp;{% for parent in object.parent.all %}<a href="{% url story_detail id=parent.id %}">{{ parent.title }}</a>, {% endfor %}
                {% endif %}
            </p>
    
            {% if user.is_authenticated %}            
                <section>
                    {% block content %}{% endblock %}
                </section>
            {% else %}
                <h1>To bad, so sad.</h1>
                <h3>You're not a part of this project.</h3>
            {% endif %}
                        
        </div>
    
</body>
</html>