<!doctype html>

<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="author" content="Dave Merwin">
</head>
<body>
    
        <div id="content">
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <p>
                <a href="/">Home</a>
                {% for parent in object.parent.all %}&nbsp;Go to: <a href="{% url story_detail id=parent.id %}">{{ parent.title }}</a>, {% endfor %}
            </p>
    
            {% if user.is_authenticated %}            
                <section>
                    {% block content %}{% endblock %}
                </section>
            {% else %}
                <h1>To bad, so sad.</h1>
                <h3>You're not a part of this project.</h3>
            {% endif %}
                        
        </div>
    
</body>
</html>